*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:'Segoe UI';
}
img{
    width: 100%;
}
header{
    width: 100%;
    height: 100vh;
    background: url(assets/back.jpg);
    background-position: center;
    background-size: cover;
}
.main{
    width: 100%;
    height: 100vh;
    padding: 20px 100px;
    background: rgba(0, 0, 0, 0.619);
}
.nav{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.nav .logo img{
    width: 130px;
}
.right-nav{
    display: flex;
    gap: 15px;
}
.right-nav #lang{
    background: transparent;
    color: white;
    font-size: 15px;
    padding: 4px 8px;
    border: 1px solid white;
    border-radius: 2px;
    
}
.right-nav .sign-up{
    color: white;
    background: red;
    padding: 5px 8px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 2px;
}
.main-content{
    width: 100%;
    height: calc(100% - 31px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
.main-content h1{
    font-size: 48px;
}
.main-content h4{
    margin: 10px;
    font-weight: 700;
}
.main-content p{
    margin: 12px;
}
.subscribe{
    display: flex;
    align-items: center;
}
.subscribe input{
    width: 400px;
    height: 40px;
    padding: 3px;
}
.subscribe input:focus{
    outline: none;
}
.subscribe a{
    color: white;
    text-decoration: none;
    background: red;
    padding: 9px 12px;
}

/* section 1 */


section{
    width: 100%;
    height: 80vh;
    padding: 0px 100px;
    background: black;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-around;
    border-top: 5px solid rgb(34, 34, 34);
    color: white;
}
section h1{
    font-size: 55px;
    margin: 5px 0px;
}
section p{
    font-size: 22px;
    margin: 5px 0px;
    line-height: 35px;
}
section img{
    width: 500px;
}
.sec-5{
    background: black;
    color: white;
    text-align: center;
    padding: 40px 0px;
    border-top: 5px solid rgb(34, 34, 34);
    border-bottom: 5px solid rgb(34, 34, 34);
}
.sec-5 h1{
    margin: 25px 0px;
}
.question{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    margin: 10px 0px;
}
.que-div{
    padding: 15px 20px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(62, 62, 62);
}
.que-div:hover{
    background: rgb(40, 40, 40);
}
.que h3{
    font-size: 22px;
    font-weight: 400;
}
.sec-5 h4{
    font-weight: 400;
    font-size: 18px;
    margin: 25px 0px;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* footer */
footer{
    background: black;
    color: white;
    padding: 30px 100px;
}
.footer{
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.foot{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.foot a{
    font-size: 14px;
    color: rgb(123, 123, 123);
}